<br>
<div class="container mt-5" style="background-color: #212529; color: #fff;">
    <div class="row">
      <div class="col-sm text-center my-2">
        <h2>Picantería <span class="sp">"Alejita"</span></h2>
        <div data-aos="zoom-in">
            <img src="../../../assets/images/milogo2.png" width="200px" height="100px" alt="fast-food">
        </div>
        
        <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolorum maxime dolor pariatur sapiente incidunt consequuntur magni, necessitatibus sequi minus suscipit et nemo fuga dignissimos reiciendis. Ullam, aperiam quis? Fugit!</p>
      </div>
      <div class="col-sm my-2">
        <h2 class="text-center">Horas de Atención</h2>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    Lunes - Viernes
                </div>
                <div class="col">
                    <strong>7:00 - 18:00</strong>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Sabado
                </div>
                <div class="col">
                    <strong>8:00 - 18:00</strong>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Domingo
                </div>
                <div class="col">
                    <strong>8:00 - 16:00</strong>
                </div>
            </div>
        </div>
        
      </div>
      <div class="col-sm my-3">
        <div class="container text-center" style="font-size: 2rem;">
            <h2>Medios de Contacto</h2>
            <i class="pi pi-facebook m-2" ></i>
            <i class="pi pi-instagram m-2"></i>
            <i class="pi pi-whatsapp m-2"></i>
            <i class="pi pi-phone m-2"></i>
            <i class="pi pi-map-marker m-2"></i>
        </div>
      </div>
    </div>
</div>