
<div data-aos="zoom-in">
    <h1 class="mt-5 text-center" style="color: #d02529;">Lo que ofrecemos</h1>
    <h3 class="text-center">Comida Deliciosa</h3>
    <h3 class="head-sub-title"></h3>
</div>

<div class="d-flex justify-content-between text-center flex-wrap m-4">
    <div class="row">
        <div class="col-sm-4">
            <div class="card m-2 border-0" data-aos="fade-right"
            data-aos-offset="500"
            data-aos-easing="ease-in-sine">
                <div class="card-body">
                  <h5 class="card-title">Desayunos</h5>
                  <img width="64" height="64" src="https://img.icons8.com/external-justicon-lineal-color-justicon/64/external-breakfast-hotel-essentials-justicon-lineal-color-justicon.png" alt="external-breakfast-hotel-essentials-justicon-lineal-color-justicon"/>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card m-2 border-0" data-aos="fade-right"
            data-aos-offset="500"
            data-aos-easing="ease-in-sine">
                <div class="card-body">
                  <h5 class="card-title">Almuerzos</h5>
                  <div class="container m-2">
                    <img width="64" height="64" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-lunch-foodies-flaticons-lineal-color-flat-icons-2.png" alt="">
                  </div>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!</p>
                  
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card m-2 border-0" data-aos="fade-right"
            data-aos-offset="500"
            data-aos-easing="ease-in-sine">
                <div class="card-body">
                  <h5 class="card-title">Meriendas</h5>
                  <div class="container m-2">
                    <img width="64" height="64" src="https://img.icons8.com/officel/80/dinner.png" alt="dinner"/>
                  </div>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!</p>
                </div>
            </div>
        </div>
    </div>
</div>


    
