
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
	<a class="navbar-brand mx-3" href="#" style="font-family: 'Lucy', sans-serif;;">
		<img src="https://img.icons8.com/external-victoruler-flat-victoruler/64/external-pig-chinese-new-year-victoruler-flat-victoruler.png" width="30" height="30" class="d-inline-block align-top" alt="">
		Picantería <span style="color: #d02529;">"Alejita"</span> 
	</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item active">
				<a class="nav-link" routerLink="/home">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/nuestra-historia">Nuestra Historia</a>
			</li>
		</ul>
	  </div>
	</div>
  </nav>
<router-outlet></router-outlet>

