
<div class="product-item-content ">
    <img src="https://images.unsplash.com/photo-1556269923-e4ef51d69638?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGNvbWlkYSUyMGNlcmRvfGVufDB8fDB8fHww" alt="Responsive image" width="100%" style="overflow: hidden;background-repeat: no-repeat; height: 500px;">
    <div class="centrado">
        <h1>Sobre<span class="sp">"Nosotros"</span></h1>
        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus eveniet provident, ipsam, fuga quos asperiores non ratione, adipisci officiis aperiam possimus fugiat maxime quis nam beatae dolorem vero minus nostrum.</h3>
    </div>
</div>
<div class="container">
    <h1 class="mt-5 text-center" style="color: #d02529;">Descrubra</h1>
    <h3 class="text-center">Historia del Restaurante</h3>
    <h3 class="head-sub-title"></h3>
</div>

<div class="container my-5">
    <h2 class="text-center" style="color: #d02529;">The standard Lorem Ipsum passage, used since the 1500s</h2>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, eveniet sunt magnam velit reprehenderit voluptate perferendis quas optio accusamus fugit veniam tempore, ipsam unde voluptatem recusandae vel ducimus excepturi inventore?</p>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-sm-8">
          <img src="https://images.unsplash.com/photo-1527324688151-0e627063f2b1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvbWlkYSUyMGNlcmRvfGVufDB8fDB8fHww" alt="imagen1" style="overflow: hidden;background-repeat: no-repeat;"
          width="100%" height="400px">
        </div>
        <div class="col-sm-4">
          <img src="https://images.unsplash.com/photo-1529692236671-f1f6cf9683ba?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNvbWlkYSUyMGNlcmRvfGVufDB8fDB8fHww" alt="iamgen2" style="overflow: hidden;background-repeat: no-repeat;"
          width="100%">
        </div>
    </div>
</div>

<div style="background-color: #212529;">
	<app-footer></app-footer>
</div>


